*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-height: 100vh; 
    background: linear-gradient(113deg, #e1b97a, #ba1b01, #69c583, #d5302b);
    background-size: 240% 240%;
    animation: gradient-animation 16s ease infinite;
  }

  @keyframes gradient-animation {
    0%   { background-position:   0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position:   0% 50%; }
  }

.player-interface{
    margin-top: 12em;
}

.music-player{
    border: 3px solid rgb(204, 203, 203);
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 0 auto;
    padding: .8em 2em;
    color: rgb(56, 54, 54);
}

.heading{
    text-align: left;
    font-size: large;
}
.artist-name-title{
    text-align: center;
    font-size: larger;
}

.track-time{
    margin-top: 2em;
    width: 100%;
}
.controls{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-size: 1.5rem;
}

.play-pause-btn{
    margin: 0 3em;
}

.fa-pause{
    display: none;
}